@model IEnumerable<CertifikacijaMVC.Models.OdabirTipa>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pitanje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipPolaganja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pitanje.PitanjeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipPolaganja.Tip)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OdabirTipaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OdabirTipaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OdabirTipaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<button class="btn icon-next">@Html.ActionLink("Odgovor na pitanje", "Index", "OdgNaPitanjes")</button>