@model IEnumerable<CertifikacijaMVC.Models.OdabirTipa>

@{
    ViewData["Title"] = "Odabir tipa polaganja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Odabir tipa polaganja</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pitanje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipPolaganja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pitanje.PitanjeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipPolaganja.Tip)
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-outline-primary" asp-controller="OdgNaPitanjes" asp-action="Index" asp-route-id="@item.OdabirTipaId">Odaberi</a>
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.OdabirTipaId">Uredi</a>
                    <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.OdabirTipaId">Detalji</a>
                    <a class="btn btn-outline-primary" asp-action="Delete" asp-route-id="@item.OdabirTipaId">Izbriši</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
