@model IEnumerable<CertifikacijaMVC.Models.Pitanje>

@{
    ViewData["Title"] = "Pitanja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pitanja</h2>

<a href="@Url.Action("Create", "Pitanjas")" class="btn btn-success">
    Novi<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
</a>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TekstPitanja)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TekstPitanja)
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.PitanjeId">Uredi</a>
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.PitanjeId">Detalji</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.PitanjeId">Izbriši</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-dark" asp-controller="OdabirTipas" asp-action="Index">Odaberi tip polaganja</a>
