@model IEnumerable<CertifikacijaMVC.Models.OdgNaPitanje>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tačno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipOdgovora)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.OdabirTipa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odgovor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tačno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipOdgovora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OdabirTipa.OdabirTipaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odgovor.TekstOdgovora)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OdgNaPitanjeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OdgNaPitanjeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OdgNaPitanjeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
