@model IEnumerable<CertifikacijaMVC.Models.TipPolaganja>

@{
    ViewData["Title"] = "Tipovi polaganja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tipovi polaganja</h2>
<a href="@Url.Action("Create", "TipPolaganjas")" class="btn btn-success">Novi<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
</a>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipEng)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipEng)
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.TipPolaganjaId">Uredi</a>
                    <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.TipPolaganjaId">Detalji</a>
                    <a class="btn btn-outline-primary" asp-action="Delete" asp-route-id="@item.TipPolaganjaId">Izbriši</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-default" asp-controller="Pitanjes" asp-action="Index">Idi u pitanja</a>